# Eclipse
.classpath
.project
graphics-engine/.settings
.metadata/

# Intellij
graphics-engine/.idea
*.iml
*.iws

# Mac
.DS_Store

# Maven
graphics-engine/log
graphics-engine/target

*/target/*

.vscode